:root {
  --grey: #e2e8f0;
  --secondary-color: #3498db;
  --primary-color: white;
  --yellow: #facc14;
  --text-grey: #6e6e6e;
  --black: black;
}

h3,
p,
h4 {
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

#search-icon {
  width: 1.25rem;
}

.header {
  background-color: rgb(255, 255, 255);
  grid-column: 2/3;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  padding: 1rem 2rem;
  padding-top: 0.2rem;
  box-shadow: rgb(17 12 46 / 15%) -1px 4px 7px 0px;
  z-index: 1;
}

.side-bar {
  background-color: var(--secondary-color);
  grid-row: 1 / 3;
  /* display: grid; */
  gap: 1.2rem;
}

.content {
  background-color: var(--grey);
}

.button {
  border: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: var(--secondary-color);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 6rem;
}

.search-bar {
  width: 30rem;
  height: 1.25rem;
  border-radius: 25px;
  border: none;
  background-color: var(--grey);
  padding: 1rem;
}

.label-container {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 0.5rem;
  align-items: center;
}

.header-bar-1 {
  /* padding: 1rem; */
  align-items: center;
  display: grid;
  height: 4rem;
}

.header-bar-2 {
  padding: 0.6rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2.5rem;
  justify-content: end;
  align-items: center;
  height: 1rem;
}

.bell-icon {
  width: 1.25rem;
}

.photo-small {
  width: 40px;
  border-radius: 25px;
}
.header-bar-3 {
  /* padding: 1rem; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.photo-big {
  width: 80px;
  border-radius: 50%;
  grid-row: 1/3;
}

.hi-there {
  margin: 0;
  /* grid-column: 2/3; */
  align-self: end;
  color: var(--black);
}
.my-name {
  margin: 0;
  /* grid-column: 2/3; */
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--black);
}

.header-bar-4 {
  /* padding: 1rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 1.3rem;
  justify-content: end;
}

.button {
  border: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: var(--secondary-color);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 6rem;
  height: 40px;
}

#dashboard-logo {
  height: 40px;
}

.dashboard {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  padding: 1rem;
}

.dashboard > h3 {
  color: var(--primary-color);
}

.nav-list {
  display: grid;
  align-items: center;
  color: var(--primary-color);
  list-style: none;
  padding: 1rem;
  margin: 0;
  gap: 0.5rem;
}

.nav-img {
  width: 40px;
}

.nav-list > li {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  font-size: 1rem;
}

.content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--grey);
}

.mybox > h3 {
  padding: 1rem;
  padding-bottom: 0;
}

.projects {
  grid-row: 1 / 3;
}

.card-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 1rem;
  justify-content: space-evenly;
}
.card {
  max-width: 300px;
  background-color: var(--primary-color);
  border-left: 10px solid var(--yellow);
  border-radius: 1em;
  padding: 1.3rem;
  box-shadow: rgb(17 12 46 / 15%) 0px 7px 7px 0px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-buttons {
  display: flex;
  /* border: 1px solid red; */
  justify-content: end;
  gap: 20px;
  padding: 0.3rem;
}
.card h3 {
  margin: 0;
}

p {
  color: var(--text-grey);
}
.content > h3 {
  padding: 30px;
}

.card-buttons > img {
  width: 25px;
}

.announcements {
  padding-right: 2rem;
}

.ann-container {
  background-color: var(--primary-color);
  /* height: 300px; */
  border-radius: 1em;
  /* display: flex;
  flex-direction: column; */
  gap: 2rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.ann-item {
  margin: 1rem;
}

.trending {
  padding-right: 2rem;
}

.trend-container {
  background-color: var(--primary-color);
  border-radius: 1em;
  gap: 2rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.trend-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  padding: 0.8rem;
}

.trend-img {
  grid-row: 1/3;
  width: 40px;
  border-radius: 50%;
}

.trend-p {
  color: var(--black);
}
